@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

/* Solana wallet adapter style overrides */
.wallet-adapter-button {
}

.wallet-adapter-button-trigger {
    background-color: #3d42ce !important;
    font-weight: normal !important;
    font-size: 14px !important;
    height: 32px !important;
}

.wallet-adapter-button-trigger:hover {
    background-color: #6966fb !important;
}
