.wallet-adapter-button {
  background-color: transparent;
  border: none;
  color: #0c0;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem;
  min-height: 44px;
  padding: 0rem 1.4rem;
}

.ewallet-adapter-button {
  color: black;
}

.wallet-adapter-button-trigger {
  background: transparent;
}

.wallet-adapter-button-trigger p {
  font-size: 0.9rem;
}

.wallet-adapter-button:not([disabled]):focus-visible {
  outline-color: rgba(255, 255, 255, 0.2);
}

.wallet-adapter-button:not([disabled]):hover {
  background-color: none;
}

.wallet-adapter-button[disabled] {
  background: transparent;
  color: white;
  cursor: not-allowed;
}

.ewallet-adapter-button[disabled] {
  color: #7620e0;
}

.wallet-adapter-button-end-icon,
.wallet-adapter-button-start-icon,
.wallet-adapter-button-end-icon img,
.wallet-adapter-button-start-icon img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6rem;
  height: 1.6rem;
}

.wallet-adapter-button-end-icon {
  margin-left: 12px;
}

.wallet-adapter-button-start-icon {
  margin-right: 12px;
}

.wallet-adapter-collapse {
  width: 100%;
}

.wallet-adapter-dropdown {
  position: relative;
  display: inline-block;
}

.wallet-adapter-dropdown-list {
  position: absolute;
  z-index: 1000;
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 0px;
  padding: 0px 0px;
  width: 100%;
  top: 100%;
  right: 0;
  left: 0;
  margin: 0;
  list-style: none;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease, transform 200ms ease, visibility 200ms;
  border: none;
  background: #161724;
  border-color: rgba(9, 9, 14, 0.5);
  box-shadow: 4px 4px 5px rgba(9, 9, 14, 0.5),
    -5px -5px 6px rgba(87, 87, 87, 0.2);
}

.ewallet-adapter-dropdown-list {
  background: #e4ebf5;
  border-color: #bec8e4;
  border: none;
  box-shadow: 3px 3px 6px #bec8e4, -3px -3px 6px #fff;
}

.wallet-adapter-dropdown-list-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}

.wallet-adapter-dropdown-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0.9rem 1rem;
  width: 100%;
  border-radius: 6px;
  font-size: 0.88rem;
  font-weight: 600;
  color: #0c0;
  margin: 0;
}

.ewallet-adapter-dropdown-list-item {
  color: black;
}

.wallet-adapter-dropdown-list-item:not([disabled]):hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.wallet-adapter-modal-collapse-button svg {
  align-self: center;
  fill: #999;
}

.wallet-adapter-modal-collapse-button.wallet-adapter-modal-collapse-button-active
  svg {
  transform: rotate(180deg);
  transition: transform ease-in 150ms;
}

.wallet-adapter-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity linear 150ms;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  overflow-y: auto;
}

.wallet-adapter-modal.wallet-adapter-modal-fade-in {
  opacity: 1;
}

.wallet-adapter-modal-button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 18px;
  padding: 4px;
  cursor: pointer;
  background: transparent;
  border: 0px solid #0c0;
  border-radius: 50%;
}

.wallet-adapter-modal-button-close:focus-visible {
  outline-color: #0c0;
}

.wallet-adapter-modal-button-close svg {
  fill: #0c0;
  transition: fill 200ms ease 0s;
}

.wallet-adapter-modal-button-close:hover svg {
  fill: #0c0;
}

.ewallet-adapter-modal-button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 18px;
  padding: 4px;
  cursor: pointer;
  background: transparent;
  border: 0px solid black;
  border-radius: 50%;
}

.ewallet-adapter-modal-button-close:focus-visible {
  outline-color: black;
}

.ewallet-adapter-modal-button-close svg {
  fill: black;
  transition: fill 200ms ease 0s;
}

.ewallet-adapter-modal-button-close:hover svg {
  fill: black;
}

.wallet-adapter-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(1px);
}

.wallet-adapter-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wallet-adapter-modal-wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1050;
  max-width: 400px;
  padding: 2.1rem 1rem 0rem 1rem;
  border-radius: 20px;
  background: #161724;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
  flex: 1;
}

.ewallet-adapter-modal-wrapper {
  background: #e4ebf5;
}

.wallet-adapter-modal-wrapper .wallet-adapter-button {
  width: 100%;
}

.wallet-adapter-modal-title {
  width: 100%;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 0px;
  margin: 0;
  text-align: left;
  color: #0c0;
  letter-spacing: inherit !important;
  background-image: inherit !important;
  background-repeat: inherit !important;
  background-size: inherit !important;
  background-clip: inherit !important;
  text-fill-color: inherit !important;
  -webkit-text-fill-color: inherit !important;
  -webkit-background-clip: inherit !important;
  -webkit-text-stroke-width: inherit !important;
  -moz-text-fill-color: inherit !important;
  -moz-background-clip: inherit !important;
  -moz-text-stroke-width: inherit !important;
}

.ewallet-adapter-modal-title {
  color: black;
}

.wallet-adapter-modal-list {
  margin: 0 0 12px 0;
  padding: 40px 0 0 0;
  width: 100%;
  list-style: none;
  border-top: 0px solid #0c0;
}

.ewallet-adapter-modal-list {
  border-top: 0px solid black;
}

.wallet-adapter-modal-list .wallet-adapter-button {
  font-weight: 400;
  border-radius: 0px;
  font-size: 1rem;
  border-top: 1px solid #0c0;
  padding: 0px 5px;
  margin-top: 0px;
}

.wallet-adapter-modal-list .ewallet-adapter-button {
  border-top: 1px solid black;
}

.wallet-adapter-modal-list .wallet-adapter-button-end-icon,
.wallet-adapter-modal-list .wallet-adapter-button-start-icon,
.wallet-adapter-modal-list .wallet-adapter-button-end-icon img,
.wallet-adapter-modal-list .wallet-adapter-button-start-icon img {
  width: 28px;
  height: 28px;
}

.wallet-adapter-modal-list .wallet-adapter-button span {
  margin-left: auto;
  font-size: 14px;
  opacity: 0.6;
}

.wallet-adapter-modal-list-more {
  cursor: pointer;
  border: none;
  padding: 12px 24px 24px 12px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #0c0;
  font-weight: 600;
}

.ewallet-adapter-modal-list-more {
  color: #333333;
}

.wallet-adapter-modal-list-more svg {
  transition: all 0.1s ease;
  fill: #0c0;
  margin-left: 0.5rem;
}

.ewallet-adapter-modal-list-more svg {
  fill: #333333;
}

.wallet-adapter-modal-list-more-icon-rotate {
  transform: rotate(180deg);
}

.wallet-adapter-modal-middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px 24px 24px;
  box-sizing: border-box;
}

.wallet-adapter-modal-middle-button {
  display: block;
  cursor: pointer;
  margin-top: 48px;
  width: 100%;
  background: #0c0;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  color: #0c0;
}

@media (max-width: 600px) {
  .wallet-adapter-button {
    font-size: 0.95rem;
    padding: 0.5rem 0.8rem;
  }

  .wallet-adapter-modal-list .wallet-adapter-button {
    font-size: 0.9rem;
  }

  .wallet-adapter-button-end-icon,
  .wallet-adapter-button-start-icon,
  .wallet-adapter-button-end-icon img,
  .wallet-adapter-button-start-icon img {
    width: auto;
    height: 1.5rem;
  }

  .wallet-adapter-modal-title {
    padding: 0px 25px 0px 0px !important;
  }
  .wallet-adapter-dropdown-list-item {
    padding: 0.9rem 0.4rem;
  }
}

@media (max-width: 480px) {
  .wallet-adapter-modal-container {
    margin: 2rem 0.5rem;
    min-height: calc(100vh - 2rem);
  }
}
